cite {
    display: $cite-display;
    @include margin-shorthand-with-screens-support((
        top: $cite-margin-top,
        bottom: $cite-margin-bottom,
        left: $cite-margin-left,
        right: $cite-margin-right
    ), $cite-margin-for-screens);
    @include padding-shorthand((
        top: $cite-padding-top, 
        bottom: $cite-padding-bottom, 
        left: $cite-padding-left, 
        right: $cite-padding-right
    ));
    font-size: $cite-font-size;
    font-style: $cite-font-style;
    @include cite-extra-style();

    &::before {
        content: $cite-prefix;
    }
}