$cite-display: block !default;

//Margins
$cite-margin-top: 0 !default;
$cite-margin-bottom: 0 !default;
$cite-margin-left: 0 !default;
$cite-margin-right: 0 !default;
$cite-margin-for-screens: () !default;

//Paddings
$cite-padding-top: 0 !default;
$cite-padding-bottom: 0 !default;
$cite-padding-left: 0 !default;
$cite-padding-right: 0 !default;

$cite-prefix: "- " !default;
$cite-font-size: 1em !default;
$cite-font-style: italic !default;

//Extra style
//@mixin cite-extra-style() {} //Create this mixin before import module when you want add some special style for element